/* Background gradient for the main section */
:root {
    --primary-color: #F39323;
    --secondary-color: #EBDA96;
    --accent-color: #EA242A;
}

/* Animation for the card */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Card styling for login */
.login-card {
    animation: fadeIn 0.8s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header styling for login page */
.login-header {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 24px;
}

/* Button styling for login page */
.login-button {
    background-color: var(--accent-color);
    border: none;
    font-weight: bold;
    width: 100%;
}

.login-button:hover {
    background-color: var(--primary-color); /* Primary color on hover */
    color: #333333; /* Slightly darker text color on hover */
}

/* Additional styling for login specific elements */
.login-remember {
    color: #333333;
    font-size: 14px;
}

.forgot-password {
    color: #777777;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password:hover {
    color: var(--accent-color);
    text-decoration: underline;
}
